name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Arrayfire
      run: |
        sudo apt-get install libarrayfire-cpu-dev libarrayfire-unified-dev
        sudo ln -s /usr/lib/x86_64-linux-gnu/libaf* /usr/lib
        ls -l /usr/lib/libaf*
        export AF_PATH=/usr
        export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${AF_PATH}/lib
    - name: Build
      run: cargo build --verbose --all-features
    - name: Run tests
      run: cargo test --verbose --all-features
